@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #FDF6EA !important;
}
   
.navbar-brand {
  font-size: 3rem;
}
   
.nav-item {
  margin-left: 7pt;
}

.calendar-heading {
  text-align: center;
  padding-bottom: 15px;
}

.calendar-title {
  font-size: larger;
  font-style: bold;
}

.preNext {
  background-color: orange;
}